{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}About{% endblock %}

{% block conteudo %}

<div class="ui red segment ">
    <img class="ui medium circular centered image" src="/static/images/rango2.jpg">
    <div class="ui center aligned segment">
        <article class="text">
        Projeto de {{disciplina}} do {{curso}} do {{instituicao}}. Desenvolvido por {{ autor }}.
        </article>
    </div>
</div>
{% endblock %}