
{% extends 'base.html' %}

{% block title %}Add Page{% endblock %}

{% block conteudo %}

{% if category %}
<div class= "ui red segment">
<div class="six wide column">
    <h2 class="ui header">
        <i class="plus icon"></i>
        <div class="content">
            Adicionar Noticia
        </div>
    </h2>
    
    <form method="POST" action="/rango/category/{{category.slug}}/add_page/" enctype="multipart/form-data" class="ui form">{% csrf_token %}
        <div class="ui required field">
            <label>Titulo</label>
            <div class="ui left icon input">
                {{ form.title }}
            </div>
            {% if form.title.errors %}
                <div class="ui pointing red basic label error-form-message">
                    {{ form.title.errors }}
                </div>
            {% endif %}
        </div>
        <div class="ui required field">
            <label>Url</label>
            <div class="ui left icon input">
                {{ form.url }}
            </div>
            {% if form.url.errors %}
                <div class="ui pointing red basic label error-form-message">
                    {{ form.url.errors }}
                </div>
            {% endif %}
        </div>
        <input type="submit" value="Save" class="ui right floated green submit button">
    </form>
     {%  else %}
            <p>This is category does not exist.</p>
        {%  endif %}
</div>

{% endblock %}