{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{{ category_name }}{% endblock %}

{% block conteudo %}
<div class= "ui red segment">
<div class="six wide column">
    <h2 class="ui header">
        <i class="plus icon"></i>
        <div class="content">
            Adicionar Noticia
        </div>
    </h2>
    {% if form %}
    <form method="POST" action="/rango/add_noticia/" enctype="multipart/form-data" class="ui form">{% csrf_token %}
        <div class="ui required field">
            <label>Titulo</label>
            <div class="ui left icon input">
                {{ form.titulo }}
            </div>
            {% if form.titulo.errors %}
                <div class="ui pointing red basic label error-form-message">
                    {{ form.titulo.errors }}
                </div>
            {% endif %}
        </div>
        <div class="ui required field">
            <label>Autor</label>
            <div class="ui left icon input">
                {{ form.autor }}
            </div>
            {% if form.autor.errors %}
                <div class="ui pointing red basic label error-form-message">
                    {{ form.autor.errors }}
                </div>autor
            {% endif %}
        </div>
        <div class="ui required field">
            <label>Texto</label>
            <div class="ui left icon input">
                {{ form.texto }}
            </div>
            {% if form.texto.errors %}
                <div class="ui pointing red basic label error-form-message">
                    {{ form.texto.errors }}
                </div>
            {% endif %}
        </div>
        <div class="ui required field">
            <label>Imagem</label>
                {{ form.imagem }}

            {% if form.imagem.errors %}
                <div class="ui pointing red basic label error-form-message">
                    {{ form.imagem.errors }}
                </div>
            {% endif %}
        </div>
        <input type="submit" value="Save" class="ui right floated green submit button">
    </form>
    {% endif %}
</div>
</div>
{% endblock %}