{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} {% endblock %}

{% block conteudo %}
<div class="ui red segment">
<h1 class=" ui header">Blog</h1>
  <div class="ui link cards">

	{% for b in blog %}
		<div class="card">
    		<div class="image ">
      			<img src="{% static b.imagem %}">
    		</div>
    		<div class="content">
          		<a href="/rango/visualizar_noticia/{{b.id}}" class="header">{{b.titulo}}</a>
    		</div>
  		</div>
	{% endfor %}
    </div>
</div>
{% endblock %}