{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{{ category_name }}{% endblock %}

{% block conteudo %}

<div class="ui red segment">
    <table class="ui red table">

        <h1>{{ category.name }}</h1>
        {% if category %}
            {% if pages %}
            <ul>
                    {% for page in pages %}
                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                    {% endfor %}
                    </ul>
            {% else %}
                    <strong>No pages currently in category.</strong>
                    {% endif %}
    </table>

            {% if user.is_authenticated %}
            <a href="/rango/category/{{category.slug}}/add_page/" class="ui secondary button">Adicionar uma nova Pagina</a>
            
            {% endif %}
            {% else %}
                     A categoria {{ category_name }} não existe!
        {% endif %}
{% endblock %}
