{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Index{% endblock %}

{% block conteudo %} 



	<h2 class="ui header">
		{% if user.is_authenticated %}               
			<div class="content">Rango says... hello {{ user.username }}!</div>
		{% else %}
			<div class="content">Rango says... hello world!</div>
		{% endif %}
	</h2>
		
	<table class="ui red table">
		<thead>
			<th>TOP 5 Categorias</th>
		</thead>
			{% if categories %}
			   {% for category in categories %}
		<tbody>
			<tr>
				<td><a href="/rango/category/{{ category.slug }}/">{{ category.name }}</td>
				{% endfor %}
			</tr>
		</tbody>
	</table>
			{% else %}
				<strong>There are no categories present.</strong>
			{% endif %}

	<table class="ui red table">
		<thead>
			<th>TOP 5 Paginas</th>
		</thead>
			{% if pages %}
			   {% for page in pages %}
		<tbody>
			<tr>
				<td><a href="{{page.url}}">{{ page.title }}</a></td>
				{% endfor %}
			</tr>
		</tbody>
	</table>
			{% else %}
				<strong>There are no categories present.</strong>
			{% endif %}

	 <table class="ui red table">
		<thead>
			<th>Todas as Categorias</th>
		</thead>
			{% if categories %}
			   {% for category in tudo %}
		<tbody>
			<tr>
				<td><a href="/rango/category/{{ category.slug }}/">{{ category.name }}</td>
				{% endfor %}
			</tr>
		</tbody>
	</table>
			{% else %}
				<strong>There are no categories present.</strong>
			{% endif %}
	<div class="ui label">
		Visits:
  		<div class="detail">{{ visits }}</div>
	</div>   
{% endblock %}