{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block conteudo %}
<div class="ui red segment">
<div class="six wide column">
    <h2 class="ui header">
        <i class="add user icon"></i>
        <div class="content">
            Cadastro de Usuario
        </div>
    </h2>

    {% if registered == True %}
    <div class="ui success message">
        <header class="header">Success!</header>
        <div class="content">
            User registered!
        </div>
    </div>
    {% endif %}
    {% if user_form and user_profile_form %}
    <form method="POST" action="/rango/register/" class="ui large form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="required field">
            <label>Usuario</label>
            <div class="ui left icon input">
                <i class="user icon"></i>
                {{ user_form.username }}
            </div>
            {% if user_form.username.errors %}
                <div class="ui pointing red basic label error-form-message">
                    {{ user_form.username.errors }}
                </div>
            {% endif %}
        </div>
        <div class="required field">
            <label>Email</label>
            <div class="ui left icon input">
                <i class="at icon"></i>
                {{ user_form.email }}
            </div>
            {% if user_form.email.errors %}
                <div class="ui pointing red basic label error-form-message">
                    {{ user_form.email.errors }}
                </div>
            {% endif %}
        </div>
        <div class="required field">
            <label>Senha</label>
            <div class="ui left icon input">
                <i class="lock icon"></i>
                {{ user_form.password }}
            </div>
            {% if user_form.password.errors %}
                <div class="ui pointing red basic label error-form-message">
                    {{ user_form.password.errors }}
                </div>
            {% endif %}
        </div>
        <div class="field">
            <label>Website</label>
            <div class="ui left icon input">
                <i class="user icon"></i>
                {{ user_profile_form.website }}
            </div>
            {% if user_profile_form.website.errors %}
                <div class="ui pointing red basic label error-form-message">
                    {{ user_profile_form.website.errors }}
                </div>
            {% endif %}
        </div>
        <div class="field">
            <label>Foto</label>
            {{ user_profile_form.picture }}
            {% if user_profile_form.picture.errors %}
                <div class="ui pointing red basic label error-form-message">
                    {{ user_profile_form.picture.errors }}
                </div>
            {% endif %}
        </div>

        <input type="submit" class="ui green right floated submit button" value="Register">
    </form>
   {% endif %}
</div>
</div>
{% endblock %}