{% extends 'base.html' %}

{% block title %}{{blog.titulo}}{% endblock %}

{% block conteudo %}
<div class="ui red segment">
	<h2 class="ui header">
		<img src="{{blog.imagem}}">
		<div class="content">
			{{blog.titulo}}
		<div class="sub header">{{blog.autor}}</div>
		</div>
	</h2>
	<div class="description">
		
        <p>{{blog.texto}}</p>

    </div>	
</div>

{% endblock %}