    <!DOCTYPE html>
<html lang="en">
    <head>
        {% load staticfiles %}
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="{% static 'semantic/semantic.css'%}" />
        <link rel="stylesheet" href="{% static 'semantic/base.css'%}" />
        <script type="text/javascript" src="{% static 'semantic/jquery.js'%}"></script>
        <script type="text/javascript" src="{% static 'semantic/base.js'%}"></script>
        <title>{%block titulo%}{%endblock%}</title>
        <title>Rango - {% block title %}How to Tango with Django!{% endblock %}</title>
    </head>
     <body class="cor-fundo">
        <header >
            <nav class="ui inverted large menu">
                <div class="header large item"> <a href="/rango/">Rango </a> </div>
                    {% if user.is_authenticated %}
                        <a class="item right" href="{% url 'logout' %}?next=/rango/"><i class="sign out icon"></i>Logout</a>

                <!-- <a class="item right" href="/contato"><i class="mail icon"></i>Contato</a>
                    <a class="item right" href="/transmissao"><i class="twitch icon"></i>Trasmissão</a>
                    <a class="item right" href="/sobre"><i class="info icon"></i>Sobre </a>
                    <a class="item right"><i class="newspaper icon"></i>Noticias</a> -->
                        <a class="item  " href="{% url 'add_category' %}"><i class="add circle icon"></i>Add Categoria</a>
                        <a class="item  " href="{% url 'add_noticia' %}"><i class="add circle icon"></i>Add Noticia</a>

                    {% else %}
                    
                        <a class="item " href="{% url 'register' %}"><i class="add user icon"></i>Cadastre -se</a>
                    
                        <a class="item right " href="{% url 'login' %}"><i class="sign in icon"></i>Login</a>
                    {% endif %}

                    <a class="item " href="{% url 'about' %}"><i class="warning circle icon"></i>About</a>

                    <a class="item " href="{% url 'blog' %}"><i class="newspaper icon"></i>Blog</a>
            </nav>
        </header>
         <article class="corpo ui segment cor-conteudo">
            <div class="ui grid">
                <div class="row">
                    <div class="three wide column"></div>
                    <div class="ten wide column">       
                        {%block conteudo%}
                        
                        {%endblock%}
                    </div>
                </div>
            </div>
        </article>
        <footer class="ui grid rodape black">
            <div class="two wide column">
               
            </div>
            <div class="twelve wide column"></div>
            <div class="two wide column">
              <!--  <img  class="ui small image" src="{% static 'semantic/0.png'%}"> -->
            </div> 
            <div class="twelve wide column">
                <label class="ui branco">© 2016 Patrick Reis - Todos os direitos reservados.</label>
            </div>
        </footer>
    </body>
</html>