{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Login{% endblock %}

{% block conteudo %}
<br>
<br>
<br>
<br>
<div class='ui centered grid'>
	<div class='two column centered row'>
		<div class='ui column'>
			{% if form.errors %}
				<aside class="ui error message">
					<h3 class="header">
						Usuário ou senha inválidos.
					</h3>
				</aside>
			{% endif %}
			<form class='ui form' method="POST" action="{% url 'django.contrib.auth.views.login' %}">
				<h1 class="header">
					Login
				</h1>
				{% csrf_token %}	
				<div class="field">
					<label>Usuário</label>
					<input class="form-control" placeholder="Username" id="id_username" maxlength="254" name="username" type="text" required autofocus=""/>
				</div>
				<div class="field">
					<label>Senha</label>
					<input type="password" class="form-control" placeholder="Password" id="id_password" name="password"  required />
				</div>
				<input type='submit' class="ui submit button verde_escuro direita"  value='Entrar'>
				 <a href='/rango/register/'>Cadastre-se</a>
			</form>
		</div>
	</div>
</div>

{% endblock %}